*{
    font-family: Arial, Helvetica, serif ;
}
h2{
    font-family: 'EB Garamond';
    font-weight: bolder;
    letter-spacing: 1px;
    
}

.container {
    background: #f1f1f1;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90%;
    margin: 20px auto;
    color: #fff;
}
.right-side p{
    font-weight: 500;
    line-height: 25px;
    /* width: 90%; */
}

.div-image{
    display: flex;
    justify-content: center;
}
.div-image img{
    background-color: rgb(242, 247, 247);
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left-side{
    width: 30%;
    background: rgb(80, 128, 128);
    padding: 40px;
    padding-right: 60px;
    padding-left: 60px;
    box-shadow: rgba(0, 0, 0, 0.692) 0px 5px 15px;
    border-radius: 8px
}

.right-side {
    background-color: #e9eae7;
    width: 70%;
    color: #000;
    padding: 40px;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, serif;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fff;  
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}
.profil_personnel{
    line-height: 20px;
    margin-bottom: 20px;
}

.right-side h2 {
    color: #130a0aea;
    text-decoration: underline;
} 
.titre-h2{
    display: flex;
    flex-direction: column;
    gap: 0;
}
 
ul{
    line-height: 30px;
}
