body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

/* 
    ========== PARTIE D'EN HAUT =============
*/
.div-top{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 40px;
    background-color: #052F57;
    color: rgb(249, 244, 232);
    justify-content: start;
    align-items: center;
}

.div-top img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.832);
}

.div-top .text-div-top {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.div-top .text-div-top h1 {
    font-size: 50px;
    margin: 0;
}

.div-top .text-div-top h3{
    margin: 0;
    font-weight: 400;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0 30px;
    padding-bottom: 30px;
    background-color: rgb(234, 242, 251);
}

/* 
    ========= PARTIE GAUCHE =============
*/
.div-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 20px;
    width: 30%;
}

.div-contact, .div-competences, .div-langues {
    display: flex;
    flex-direction: column;
}

.div-contact h3, .div-competences h3, .div-langues h3 {
    border-bottom: 1.5px solid #052F57;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

.div-left .div-contact .contact,
.div-left .div-competences .competences,
.div-left, .div-langues ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.competences, .div-langues ul{
    margin-left: -15px;
}

.div-left .div-contact .contact a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: fit-content;
    transition: 0.3;
}

.div-left .div-contact .contact a i {
    font-size: 20px;
}

.div-left .div-contact .contact a:hover {
    color: #052F57;
    text-decoration: underline;
    transition: 0.3;
}

/* 
    ============== PARTIE DROITE ================
*/

.div-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 70%;
    border-left: 1.5px solid #052F57;
    padding-left: 30px;
    margin-top: 20px;
}

.div-resume-profil h3, .div-formations h3, .div-experiences-professionnelles h3 {
    margin-bottom: 5px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
}

.institut-duree, .lieu-formation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   

.experience-professionnelle p {
    margin: 5px 0;
}

.experience-professionnelle ul {
    display: flex;
    flex-direction: column;
    gap: 8px;   
}

.div-formations .formations {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* 
    ============= RESPONSIVE DESIGN ==============
*/
@media (max-width:768px){
    .container {
        width: 95%;
    }

    .div-top {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .div-top .text-div-top h1 {
        font-size: 45px;
        text-align: center;
    }

    .div-top .text-div-top h3 {
        text-align: center;
    }

    .main {
        flex-direction: column-reverse;
        padding: 40px;
    }

    .div-left {
        width: 100%;
    }

    .div-right {
        width: 100%;
        border: none;
        padding-left: 0px;
    }
}